@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto+Slab&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Robot Slab", sans-serif;
}

body {
	background-color: #fcfa96;
}

h1 {
	font-family: "Bungee Spice", cursive;
	font-size: 4rem;
	text-shadow: 1px 1px 2px black;
}

.vertical-center {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form * {
	padding: 10px;
	margin: 20px 4px;
	border: none;
	border-radius: 10px;
	font-family: inherit;
	font-size: inherit;
	box-shadow: 0 0 15px 4px #00000025;
}

#new-game {
	text-decoration: none;
	padding: 10px 20px;
	margin: 20px 4px;
	border: none;
	border-radius: 10px;
	font-size: 1.5rem;
	box-shadow: 0 0 15px 4px #00000025;
	background-color: rgb(218, 120, 0);
	color: #fff;
	font-weight: 600;
}

#guess-form button,
#start-form button {
	background-color: #29b2a0;
	color: #fff;
	font-weight: 600;
}

#guess-form button:active,
#new-game:active {
	transform: scale(0.98);
	/* Scaling button to 0.98 to its original size */
	box-shadow: 0 0 10px 4px #00000025;
	/* Lowering the shadow */
}

.hidden {
	visibility: hidden;
	display: none;
}

.notify-good {
	background-color: #29b2a0;
}

.notify-bad {
	background-color: rgba(218, 76, 0);
}

#statistics {
	width: 80vw;
	max-width: 600px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.statistic {
	width: 25%;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fa-star {
	color: gold;
}

.statistic span {
	font-size: 1.5rem;
	color: black;
}

#notify,
.statistic {
	padding: 10px;
	margin: 20px 4px;
	border-radius: 10px;
	box-shadow: 0 0 15px 4px #00000025;
}

#notify {
	text-align: center;
	width: 80vw;
	max-width: 600px;
	color: #fff;
}

#notify span {
	font-weight: bold;
	text-decoration: underline;
}

#board {
	width: 80vw;
	height: 80vw;
	max-width: 600px;
	max-height: 600px;
	border-collapse: separate;
	border-spacing: 6px;
	table-layout: fixed;
}

#board td {
	font-size: 3rem;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}
