{% extends 'base.html' %}
{% block title %}<title>Boggle Game</title>{% endblock %}

{% block content %}
<a href="/" id="new-game" class="hidden">New Game</a>

<h1>Boggle</h1>

<div id="notify" class="hidden"></div>

<form id="guess-form" method="post">
    <input type="text" name="guess-input" id="guess-input" placeholder="Guess a word!">
    <button type="submit">Guess!</button>
</form>

<table id="board">
    {% for row in board %}
    <tr>
        {% for letter in row %}
        <td>{{letter}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<div id="statistics">
    <div id="timer" class="statistic">
        <div class="statistic-label">
            Timer
        </div>
        <div class="statistic-content">
            <span>60</span>
        </div>
    </div>
    <div id="score" class="statistic">
        <div class="statistic-label">
            Score
        </div>
        <div class="statistic-content">
            <span>0</span>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div id="highscore" class="statistic">
        <div class="statistic-label">
            Highscore
        </div>
        <div class="statistic-content">
            <span>{{session.get('highscore', 0)}}</span>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div id="game-counter" class="statistic">
        <div class="statistic-label">
            Games
        </div>
        <div class="statistic-content">
            <span>{{session.get('game_count', 1)}}</span>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let game = new BoggleGame();
    $("#guess-input").focus();
</script>
{% endblock %}