<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">

    <title>Boggle</title>
</head>

<body>
    <div class="vertical-center">
        <h1>Boggle</h1>
        <form id="guess-form" method="post">
            <input type="text" name="guess-input" id="guess-input" placeholder="Guess a word!">
            <button type="submit">Guess!</button>
        </form>
        {% if board %}
        <table>
            {% for row in board %}
            <tr>
                {% for letter in row %}
                <td>{{letter}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif%}
        <div id="notify" class="hidden"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    <script>
        let game = new BoggleGame();
    </script>
</body>

</html>