{% extends 'base.html' %}

{% block title %}<title>Boggle Game</title>{% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div id="notify" class="notify-good">{{msg}}</div>
{% endfor %}

<div id="statistics">
    <div id="highscore" class="statistic">
        <div class="statistic-label">
            Highscore
        </div>
        <div class="statistic-content">
            <span>{{session.get('highscore', 0)}}</span>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    <div id="game-counter" class="statistic">
        <div class="statistic-label">
            Games
        </div>
        <div class="statistic-content">
            <span>{{session.get('game_count', 1)}}</span>
        </div>
    </div>
</div>

<h1>Boggle</h1>
<form action="/game" id="start-form">
    <label for="size">Board Size</label>
    <input type="number" name="size" id="size" value="6" min="5" max="10">
    <button type="submit">Start Game!</button>
</form>
{% endblock %}